body {
  margin: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", 
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  margin-block: 0;
}

h2 {
  margin-block: 0;
}

h3 {
  margin-block: 0;
}

h4 {
  margin-block: 0;
}

h5 {
  margin-block: 0;
}

h6 {
  margin-block: 0;
}