body {
  margin: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", 
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noteCard:hover {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

button:hover {
  box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

h1 {
  margin-block: 0;
}

h2 {
  margin-block: 0;
}

h3 {
  margin-block: 0;
}

h4 {
  margin-block: 0;
}

h5 {
  margin-block: 0;
}

h6 {
  margin-block: 0;
}